
<h1><strong><%= @recipe.name %></strong> Recipe</h1>

<div class="left">
  <h3>Add Ingredients</h3>
<form action="/ingredients/<%= @recipe.id() %>" method="post">

  <input name="ingredients" type="text" placeholder="Butter">
   <button type="submit" class="btn btn-success">Add Ingredient</button>
 </form>

 <ul>
   <% @allingredients.each() do |newingredient| %>
   <li><%= newingredient.ingredients() %></li>
   <% end %>
 </ul>

</div>

<div class="right">
  <h3>Add Instructions</h3>
<form action="/instructions/<%= @recipe.id() %>" method="post">
   <input name="instructions" type="text" placeholder="Cut into small pieces.">
   <button type="submit" class="btn btn-success">Add Instruction</button>
 </form>

 <ol>
   <% @allrecipes.each() do |recipe| %>
   <li><%= recipe.instructions() %></li>
   <% end %>
 </ol>

 </div>

 <a href="/">Back to Recipes</a>
